//色設定
$color1: #2267a7;
$color2: #d9a746;
$color3: #f8f6f1;
$color4: #ffffff;
$color5: #575757;
$color6: #02a397;
$color7: #66b885;
$color8: #d9f1f0;
$color9: #e0f1e7;
$color10: #f7edda;
$color11: #e1e1e1;
$color12: #ff8571;

/* Admin Menu */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: $color1;
}
/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: $color3;
  background: darken($color1, 10%);
}
/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: darken($color3, 40%);
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: darken($color3, 40%);
}
/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: $color3;
  background: $color1;
}
/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: $color3;
  border: 1px solid $color3;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: $color3;
  border: 1px solid $color3;
  background-color: rgba(255, 255, 255, 0);
}
/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: darken($color3, 35%);
}
/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: darken($color3, 35%);
  border-color: darken($color3, 35%);
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: darken($color3, 35%);
  border-color: darken($color3, 35%);
  color: #fff;
}
