@charset "UTF-8";

@import "mixin.scss";
@import "code-prettify.css";

html {
  font-size: 10px!important;
}

body{
  width: 100%;
  font-family: "Yuanti SC Light", source-han-sans-simplified-c, sans-serif;
  position: relative;
  font-size: 1.6rem;
  color: #575757;
}

.section-my {
  margin: 100px 0px;
}
.content-my {
  margin: 50px 0px;
}

@import "rereboot";
@import "index";
@import "header";
@import "footer";
@import "404";
@import "page";
@import "single";
@import "front-page";
@import "sidebar";
@import "tag";
@import "category";
@import "date";
@import "archive";
@import "contact";
@import "franchise";
@import "cource";
@import "about";
@import "news";

.breadcrumb-list {
  list-style: none;
  li {display: inline-block;}
}
