@charset "UTF-8";
/* Admin Menu */
/*メニューの背景色*/
@import url(code-prettify.css);
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #2267a7;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #f8f6f1;
  background: #194d7d;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #b49f69;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #b49f69;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #f8f6f1;
  background: #2267a7;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #f8f6f1;
  border: 1px solid #f8f6f1;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #f8f6f1;
  border: 1px solid #f8f6f1;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: #bdaa7a;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: #bdaa7a;
  border-color: #bdaa7a;
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #bdaa7a;
  border-color: #bdaa7a;
  color: #fff;
}

html {
  font-size: 10px !important;
}

body {
  width: 100%;
  font-family: "Yuanti SC Light", source-han-sans-simplified-c, sans-serif;
  position: relative;
  font-size: 1.6rem;
  color: #575757;
}

.section-my {
  margin: 100px 0px;
}

.content-my {
  margin: 50px 0px;
}

/*
*  bootstrap のreboot.cssの記述が必要ない場合ここで打ち消してください
*/
p {
  margin: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

footer {
  color: #ffffff;
}

footer .footer-sns i {
  margin-right: 0.3em;
}

.copylight {
  font-size: 1rem;
}

.copylight a {
  color: #f8f6f1;
}

.breadcrumb-list {
  list-style: none;
}

.breadcrumb-list li {
  display: inline-block;
}
